<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lolstats.eldin.com.lolstats" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OverviewPage"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="lolstats.eldin.com.lolstats.MainActivity" />
        </activity>
        <activity
            android:name=".currentMatchPage"
            android:parentActivityName=".OverviewPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="lolstats.eldin.com.lolstats.OverviewPage" />
        </activity>
        <activity
            android:name=".detailedRankedPage"
            android:parentActivityName=".OverviewPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="lolstats.eldin.com.lolstats.OverviewPage" />
        </activity>
        <activity
            android:name=".compPage"
            android:parentActivityName=".OverviewPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="lolstats.eldin.com.lolstats.detailedRankedPage" />
        </activity>
        <activity
            android:name=".championsPage"
            android:label="@string/title_activity_champions_page" >
        </activity>
        <activity
            android:name=".champDetailPage"
            android:label="@string/title_activity_champ_detail_page" >
        </activity>
        <activity
            android:name=".MatchHistoryPage"
            android:parentActivityName=".OverviewPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="lolstats.eldin.com.lolstats.OverviewPage" />
        </activity>
    </application>

</manifest>
